<h1>Sign Up For Fwitter</h1>

<form action="/signup" method="POST">
  <label>Username:</label>
  <br></br>
  <input type="text" name="username">
  <label>Email:</label>
  <br></br>
  <input type="text" name="email">
  <label>Password:</label>
  <br></br>
  <input type="text" name="password">
  <input type="submit" value="Create User">
</form>
